<header>
  <div class="navbar-fixed">
    <nav>
<!--      <div class="container">-->
        <div class="nav-wrapper">
          <%= link_to "Recipes", root_path, class: "brand-logo adjust"%>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "Top Recipes", '#top-recipes'%></li>
            <li class="login-helper"><%= login_helper %></li>
          </ul>
        </div>
<!--      </div>-->
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><%= link_to "Top Recipes", '#top-recipes'%></li>
      <li class="login-helper"><%= login_helper %></li>
    </ul>
  </div>
</header>
