<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stay Connected</h5>
        <p class="grey-text text-lighten-4">Join our over 5 million users today.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul class="social-links">
          <li><a class="grey-text text-lighten-3" href="#"><%= fa_icon "github" %></a></li>
          <li><a class="grey-text text-lighten-3" href="#"><%= fa_icon "twitter" %></li>
          <li><a class="grey-text text-lighten-3" href="#"><%= fa_icon "facebook" %></li>
          <li><a class="grey-text text-lighten-3" href="#"><%= fa_icon "instagram" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container"><%= copyright_generator %></div>
  </div>
</footer>
