<%= image_tag("test2.jpg", class: "banner", alt: "Grocery Layout") %>
<!--<div id="background">-->
<!--</div>-->
<!--<div class="row">-->
<!--  <div class="welcome">-->
<!--    <h1>Join our community for<br>-->
<!--      Lipsmacking Recipes-->
<!--    </h1>-->
<!--    <div class="wrapper">-->
<!--      <form>-->
<!--        <div class="input-field">-->
<!--          <input id="search" class="searchTerm" type="search" required placeholder="Find a Recipe">-->
<!--          <label for="search"><i class="material-icons searchButton">search</i></label>-->
<!--          <i class="material-icons close-search">close</i>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <p> With more than 10,000 Recipes from users the world over,-->
<!--      More-Recipes​​ ​provides​ ​a​ ​platform​ ​for​ ​users​ ​to​ ​share​ ​the​ ​awesome​ ​and​ ​exciting​ ​​ ​recipe​ ​ideas​ ​they  have​ ​invented​ ​or​ ​learnt,-->
<!--      ​ ​get​ ​feedback​ ​in​ ​form​ ​of​ ​reviews​ ​and​ ​votes​ ​from​ ​other​ ​users​ ​who​ ​explore​ ​that  recipe-->
<!--      and ​also​ ​keep​ ​a​ ​list​ ​of​ ​their​ ​favorite​ ​recipes​ ​on​ ​the​ ​application.-->
<!--    </p>-->
    <!-- <a href="signup_login.html" class="btn btn-md btn-border btn-white">Start Sharing Now!!!!</a> -->
<!--  </div>-->
<!--</div>-->

<!--TODO: Fix the background image and text issue-->

<section id="top-recipes">
  <div>
    <h3 class="center-align"> Top Recipes</h3>
  </div>
  <div class="row">
    <div class="col s12 m6 card-container">
      <!-- <h2 class="header">Brunch Recipe</h2> -->
      <div class="card horizontal u-clearfix">
        <div class="card-image ">
          <%= image_tag("553981779b4d5.jpeg", alt: "Recipe Image") %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-number card-circle subtle">20</span>
            <span class="card-author subtle"> Sardaunan Tai</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
          </div>
          <div class="card-action">
            <a class="btn-floating"><i class="tiny material-icons grey">thumb_up</i></a><span>
                    &nbsp;&nbsp;<strong>158</strong>
                </span>
            <a class="btn-floating">
              <i class="tiny material-icons grey">thumb_down</i>
            </a><span>
                    &nbsp;&nbsp;<strong>2</strong></span>
                <a class="btn-floating"><i class="tiny material-icons grey">comment</i></a><span>
                    &nbsp;&nbsp;<strong>20 Reviews</strong></span>
                  <br>
                  <a href="#">Read more</a>

          </div>
        </div>
      </div>
      <div class="card-shadow"> </div>
    </div>
    <div class="col s12 m6 card-container">
      <!-- <h2 class="header">Brunch Recipe</h2> -->
      <div class="card horizontal u-clearfix">
        <div class="card-image ">
          <%= image_tag("553981779b4d5.jpeg", alt: "Recipe Image") %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-number card-circle subtle">20</span>
            <span class="card-author subtle"> Sardaunan Tai</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
          </div>
          <div class="card-action">
            <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                    &nbsp;&nbsp;<strong>158</strong>
                </span>
            <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                    &nbsp;&nbsp;<strong>2</strong></span>
                <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                    &nbsp;&nbsp;<strong>20 Reviews</strong></span>
                  <br>
                  <a href="#">Read more</a>

          </div>
        </div>
      </div>
      <div class="card-shadow"> </div>
    </div>
    <div class="col s12 m6 card-container">
      <!-- <h2 class="header">Brunch Recipe</h2> -->
      <div class="card horizontal u-clearfix">
        <div class="card-image ">
          <%= image_tag("553981779b4d5.jpeg", alt: "Recipe Image") %>

        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-number card-circle subtle">20</span>
            <span class="card-author subtle"> Sardaunan Tai</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
          </div>
          <div class="card-action">
            <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                      &nbsp;&nbsp;<strong>158</strong>
                  </span>
            <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                      &nbsp;&nbsp;<strong>2</strong></span>
                  <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                      &nbsp;&nbsp;<strong>20 Reviews</strong></span>
                    <br>
                    <a href="#">Read more</a>

          </div>
        </div>
      </div>
      <div class="card-shadow"> </div>
    </div>
    <div class="col s12 m6 card-container">
      <!-- <h2 class="header">Brunch Recipe</h2> -->
      <div class="card horizontal u-clearfix">
        <div class="card-image ">
          <%= image_tag("553981779b4d5.jpeg", alt: "Recipe Image") %>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-number card-circle subtle">20</span>
            <span class="card-author subtle"> Sardaunan Tai</span>
            <h2 class="card-title">New Brunch Recipe</h2>
            <p class="card-description subtle">It's been forever I last shared some great recipes from m Grandma.Today ill be cooking tumeric chicken soup.</p>
          </div>
          <div class="card-action">
            <a class="btn-floating"  ><i class="tiny material-icons grey">thumb_up</i></a><span>
                    &nbsp;&nbsp;<strong>158</strong></span>
                </span>
            <a class="btn-floating " ><i class=" tiny material-icons grey">thumb_down</i></a><span>
                    &nbsp;&nbsp;<strong>2</strong>
                <a class="btn-floating" ><i class="tiny material-icons grey">comment</i></a><span>
                    &nbsp;&nbsp;<strong>20 Reviews</strong></span>
                  <br>
                  <a href="#">Read more</a>

          </div>
        </div>
      </div>
      <div class="card-shadow"> </div>
    </div>
  </div>
</section>
